.login-wrapper{
    justify-content: center;
    display: flex;
}

.form-input-material {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

label {
    font-size: large;
}

input {
    font-size: medium;
    padding: 2px;
}
.btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    border-radius: 3px;
    width: 100%;
    /* font-size: 16px; */
    transition-duration: 0.4s;
    cursor: pointer;
    justify-content: center;
}

.btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  }

  .signin {
      display: flex;
      justify-content: space-between;
      padding: 10px ;
  }

  .signinnow {
      text-decoration: underline;
  }

  .signinnow:hover {
      color: blue;
      cursor: pointer;
  }