.container {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    /* justify-content: space-around; */
}

.box {
    display: flex;
    flex-wrap: wrap;
    padding-right: 3%;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    padding-top: 3%;
}

.card {
    margin: 2% !important;
}

.card-content {
    padding: 2%;
}

img {
    width: 100%;
    height: 200px;
}
