.requests-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
h1{
    display: flex;
    justify-content: center;
}
.mylist1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: right;
    align-items: center;

}
.ul1{
    width: "33%";
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10em;
    height: 5em;
    font-size: 1.1em;
}
.add{
    width: "10px";
    height: "10px  ";
}
